.App {
  background-image: url("images/Noise.png");
  min-height: 100vh;
}

.app-content {
  /*width: 1020px;*/
  height: 100%;
}

/*@media (max-width: 425px) {*/
/*  .app-content {*/
/*    width: 100%;*/
/*  }*/
/*}*/

/*@media (min-width: 425px) {*/
/*  .app-content {*/
/*    width: 425px;*/
/*  }*/
/*}*/

/*@media (max-width: 1024px) {*/
/*  .app-content {*/
/*    width: 760px;*/
/*  }*/
/*}*/