
p {
    margin: 0;
}

.header-block-wrapper {}

.header {
    height: 50px;
    flex-shrink: 0;
    /*background-color: green;*/
}

.header-logo {}

.header-button, .menu-icon {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

.header-phone-number {}

.header-content {}

.header-image {
    background-image: url("images/net.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
}



.header-try-button {
    color: #FFF;
    font-family: "HelveticaNeueCyr Roman";
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    text-transform: uppercase;
}

.button-shadow {}

.button {}

